*{
    margin: 0;
    padding: 0;
    list-style: none;
    a{
        text-decoration: none;
    }
}
body {
    background-image: url('../assets/images/bg.jpg');
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    .wrapper{
        .container.main{
            margin: 0px auto;
            margin-top: 80px;
            width: 1170px;
            display: flex;
            
            flex-direction: row;
            justify-content: space-between;
            >article{
                width: 70%;
                margin-right: 15px;
                // background-color: #f0f;
            }
            >aside{
                width: 30%;
                margin-left: 15px;
            }
        }
        >footer{
            position: absolute;
            bottom: -130px;
            width: 100%;
            background-color: #191818;
            color: #a2a2a2;
            padding: 20px 0;
            .footer-content{
                a{
                    color: #a2a2a2;
                    display: inline-block;
                    margin: 5px 5px;
                }
                flex-wrap: wrap;
                margin: 0 auto;
                width: 1170px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 5px;
            }
        }
    }
}