.ps{
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px rgba(97,97,97,.48),
                0 0 3px rgba(97,97,97,.6);
    border-radius: 4px;
    margin-bottom: 20px;
    p{
        margin: 10px 0;
        &:not(:first-child){
            color: #f20;
        }
    }
    
}